.field-actions {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: flex-start;
  font-size: 12px;
  padding: 8px 15px;
  line-height: 14px;
  color: $fontBlackColor;
  text-decoration: none;
}