.navbar {
  border-right: 1px solid $lightBorderColor;
  height: 100%;
  display: flex;
  flex-direction: column;
  &_change-profile {
    align-items: center;
    justify-content: center;
  }
  &__link {
    background: $blueColor;
    width: 28px;
    height: 28px;
    border-radius: 14px;
    transform: rotate(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.chat-container {
  overflow-y: scroll;
  height: calc(100vh - 102px);
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
}