$fontBlackColor: #1e1e1e;
$blueColor: #3369F3;
$whiteColor: #FFFFFF;
$greyColor: #999999;
$lightGreyBackground: #F5F5F5;
$lightBorderColor: #EAEAEA;
$backgroundSelectedChat: #E4EDFD;
$backgroundMessageAnotherUser: #F8F8F8;
$redColor: #FF0000;

$widthMessengerHeader: 310px;
$widthMessenger: calc(100vw - $widthMessengerHeader);

$widthChangeProfileNavbar: 64px;
$widthChangeProfile: calc(100vw - $widthChangeProfileNavbar);

$fontFamily: 'Inter', sans-serif;
