.profile-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 510px;
  padding-bottom: 10px;
  border-bottom: 1px solid $lightBorderColor;
  &__input {
    border: none;
    background: none;
    outline: none;
    font-size: 13px;
    line-height: 13px;
    text-align: end;
    opacity: 1;
    -webkit-text-fill-color: $greyColor;
    color: $greyColor;
    &:focus {
      color: $fontBlackColor;
      -webkit-text-fill-color: $fontBlackColor;
    }
  }
  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  &__error-message {
    -webkit-text-fill-color: #FF2F2F;
    color: #FF2F2F;
    font-size: 11px;
    line-height: 13px;
    padding-top: 5px;
    text-align: start;
    opacity: 1;
    width: 100%;
    max-width: 510px;

  }
  &:last-child {
    border: none;
  }
}