---
styles: ../styles/pages/profile.scss
bodyStyle: messenger-grid messenger-grid_change-profile
link: ./messenger.hbs
display_name: Иван
fieldsInputs:
    -
        name: password
        value: 12345678
        type: password
        isDisabled: false
        title: Старый пароль
    -
        name: new_password_again
        type: password
        isDisabled: false
        title: Новый пароль
    -
        name: new_password_again
        type: password
        isDisabled: false
        title: Повторите новый пароль
button:
    title: Сохранить
    link: ./profile.hbs
---

{{#extend "app" this}}
    {{#content "navbar"}}
        <div class="navbar navbar_change-profile">
            <a href="{{link}}" class="navbar__link">
                <img src="../assets/icons/arrow.svg">
            </a>
        </div>
    {{/content}}

    {{#content "main"}}
        <div class="profile">
            <div class="profile__avatar">
                <img class="profile__avatar-image" src="../assets/avatar.jpg">
                <div class="profile__avatar-hover">
                    <p class="profile__avatar-text">Поменять аватар</p>
                </div>
            </div>
            <h1 class="profile__header">{{display_name}}</h1>
            <div class="profile__inputs-container">
                {{#each fieldsInputs}}
                    {{> "change-profile-input" this}}
                {{/each}}
            </div>
            <div class="profile__inputs-container profile__inputs-container_save-button">
                {{> "auth-button" button}}
            </div>
        </div>
    {{/content}}
{{/extend}}