---
styles: ../styles/pages/profile.scss
bodyStyle: messenger-grid messenger-grid_change-profile
link: ./messenger.hbs
display_name: Иван
fieldsInputs:
    -
        name: email
        value: pochta@yandex.ru
        type: email
        isDisabled: true
        title: Почта
    -
            name: login
            value: ivanivanov
            type: email
            isDisabled: true
            title: Логин
    -
            name: first_name
            value: Иван
            type: text
            isDisabled: true
            title: Имя
    -
            name: second_name
            value: Иванов
            type: text
            isDisabled: true
            title: Фамилия
    -
            name: display_name
            value: Иван
            type: text
            isDisabled: true
            title: Имя в чате
    -
            name: phone
            value: +7 (909) 967 30 30
            type: tel
            isDisabled: true
            title: Телефон
buttons:
    -
        isColorRed: false
        title: Изменить данные
        link: ./change-profile.hbs
    -
        isColorRed: false
        title: Изменить пароль
        link: ./change-password.hbs
    -
        isColorRed: true
        title: Выйти
        link: ./login.hbs
---

{{#extend "app" this}}
    {{#content "navbar"}}
        <div class="navbar navbar_change-profile">
            <a href="{{link}}" class="navbar__link">
                <img src="../assets/icons/arrow.svg">
            </a>
        </div>
    {{/content}}

    {{#content "main"}}
        <div class="profile">
            <div class="profile__avatar">
                <img class="profile__avatar-image" src="../assets/avatar.jpg">
                <div class="profile__avatar-hover">
                    <p class="profile__avatar-text">Поменять аватар</p>
                </div>
            </div>
            <h1 class="profile__header">{{display_name}}</h1>
            <div class="profile__inputs-container">
                {{#each fieldsInputs}}
                    {{> "change-profile-input" this}}
                {{/each}}
            </div>
            <div class="profile__inputs-container">
                {{#each buttons}}
                    {{> "profile-button" this}}
                {{/each}}
            </div>
        </div>
    {{/content}}
{{/extend}}