<label class="profile-input">
    {{title}}
    <input
            class="profile-input__input"
            type="{{type}}"
            placeholder="{{title}}"
            {{#if isDisabled}}disabled{{/if}}
            value="{{value}}"
    >
</label>