<form class="card">
    <div class="card__info-block">
        <h1 class="card__header">{{header}}</h1>
        {{{block "cardBody"}}}
    </div>
    <div class="card__button-container">
        {{> "auth-button" button}}
        {{> "auth-link" link}}
    </div>
</form>