<div class="communication-container">
    {{> "chat-header" header}}
    <div class="message-container">
        {{> "popup-actions" popupActionsChat}}
        {{#each message}}
            {{> "message" this}}
        {{/each}}
        {{> "popup-actions" popupActionsFile}}
    </div>
    {{> "message-input"}}
</div>